#barcodeScanStream {
    border: 1px solid gray;
    margin-left:5%;
    width: 90%;
    max-width:600px;
}

#scanButton {
    width: 100px;
    height: 50px;
}

.video {
    width:100%;

}

.inputControls {
    margin-left:5%;
}

